body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #aaa;
}

.container {
    display: flex;
    justify-content: center;
    height: 100%;
}
canvas {
    height: 100%;
}
@font-face {
    font-family: 'OverFont';
    src: url('../assets/game_over.otf') format('opentype');
}

body {
    font-family: 'OverFont', sans-serif;
}